<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<div class="column is-10 is-centered is-offset-1">
  <div>
  <span class="subtitle is-uppercase has-text-grey has-text-weight-bold">View</span>
  <span class="icon tooltip is-tooltip" data-tooltip="Compact">
    <i
      class="fas fa-bars" style="cursor: pointer"
      v-bind:class="{ active: viewCompact }"
      v-on:click="viewCompact = true"></i>
  </span>
  <span class="icon tooltip is-tooltip" data-tooltip="Normal">
    <i
      class="fas fa-square" style="cursor: pointer"
      v-bind:class="{ active: !viewCompact }"
      v-on:click="viewCompact = false"></i>
  </span>
  </div>
  <template v-for="(item, index) in items">
    <PostCardComponent v-bind:post="item" v-bind:compact="viewCompact" />
  </template>
</div>
</template>

<style>
.active {
  color: hsl(217, 71%, 53%)
}
</style>

<script>
import PostCardComponent from '@/components/PostCardComponent.vue';
import { request, GraphQLClient } from 'graphql-request'
var client = null
export default {
    components: {
      PostCardComponent
    },
    data () {
      return {
        items: [],
	viewCompact: false
      }
    },
    created() {
      // this.fetchPosts()
      this.items = [
        { id: 1, author: 'Author', title: 'Anancus: federated social link aggregation', url: 'https://gitlab.com/tuxether/anancus', score: 410 },
        { id: 1, author: 'Author', title: 'ActivityPub', url: 'http://activitypub.rocks', score: 914 },
        { id: 1, author: 'Author', title: 'Federative protocol implementations in golang', url: 'https://go-fed.org', score: 512 },
        { id: 1, author: 'Author', title: 'Golang', url: 'https://golang.org', score: 623 },
        { id: 1, author: 'Author', title: 'Vue.js', url: 'https://vuejs.org', score: 604 },
        { id: 1, author: 'Author', title: 'Bulma.io', url: 'https://bulma.io', score: 215 },
        { id: 1, author: 'Author', title: 'GraphQL', url: 'https://graphql.org', score: 316 },
        { id: 1, author: 'Author', title: 'AGPLv3', url: 'https://www.gnu.org/licenses/agpl-3.0.en.html', score: 143 },
        { id: 1, author: 'Author', title: 'PostgreSQL', url: 'https://www.postgresql.org', score: 730 },
        { id: 1, author: 'Author', title: 'CockroachDB', url: 'https://www.cockroachlabs.com', score: 540 },
        { id: 1, author: 'Author', title: 'OpenID Connect', url: 'http://openid.net/connect/', score: 560 },
      ]
    },
    methods: {
      async fetchPosts() {
        client = new GraphQLClient('graphql', { headers: {} })
	const query = `{
	  getPosts {
	    id,
	    author,
	    title,
	    url,
	    score
	  }
	}`
        var posts = await client.request(query)
	console.log(posts)
	for (let v of posts.getPosts) {
	  v.selected = false
	}
	this.items = posts.getPosts
      },
    }
}
</script>


