<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<span>
<div class="columns">
  <div class="column">
    <h1 class="title">
      group/<span class="is-capitalized">{{ this.$route.params.id }}</span>
    </h1>
    <h2 class="subtitle">
      50000 members
    </h2>
  </div>
  <div class="column">
    <p class="buttons is-right">
      <a class="button is-medium is-white tooltip" data-tooltip="Recent">
        <span class="icon">
          <i class="fas fa-clock"></i>
        </span>
      </a>
      <a class="button is-medium is-white tooltip" data-tooltip="Trending">
        <span class="icon">
          <i class="fas fa-chart-line"></i>
        </span>
      </a>
      <a class="button is-medium is-link tooltip" data-tooltip="Subscribe">
        <span class="icon">
          <i class="fas fa-file-signature"></i>
        </span>
        <span>Subscribe</span>
      </a>
    </p>
  </div>
</div>
<ExploreComponent />
</span>
</template>

<script>
import ExploreComponent from '@/components/ExploreComponent.vue';
import { request, GraphQLClient } from 'graphql-request'
var client = null

  export default {
    data: () => ({
      id: this.$route.params.id
    }),

    components: {
      ExploreComponent
    },

    created() {
      // this.fetchPost()
    },

    methods: {
      async fetchPost() {
        client = new GraphQLClient('graphql', { headers: {} })
	const query = `query ($pid: ID!) {
	  getPostById(id: $pid) {
	    id,
	    author,
	    title,
	    url,
	    hashtag,
	    score
	  }
	}`
	const variables = {
	  pid: this.$route.params.id
	}
	var temp = await client.request(query, variables)
        this.post = temp.getPostById
	console.log(this.post)
      },
    }
  }
</script>

